VITE_API_URL=your_url_here

VITE_MAP_LAT=latitude_here
VITE_MAP_LNG=longitude_here
VITE_MAP_ZOOM=zoom_amount_here

VITE_TILE_LAYER_URL=tile_layer_url
VITE_TILE_LAYER_ATTRIBUTION=tile_layer_attribution