VITE_API_URL=http://localhost:8000

VITE_MAP_LAT=12.9716
VITE_MAP_LNG=77.5946
VITE_MAP_ZOOM=11

VITE_TILE_LAYER_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_TILE_LAYER_ATTRIBUTION=&copy; OpenStreetMap contributors